#showcase{
  height: 60vh;
}

#about .items {
  display: block;
  padding: 1rem;
}
/* Align icon to left */
#about .items .item {
  display: flex;
  text-align: left;
}

/* Position icon */
#about .items .item i {
  margin-right: 1.3rem;
  align-self: center;
  margin-bottom: 0;
}

#badges .items {
  display: block;
  padding: 1rem;
}

#project .project-content{
  grid-template-columns: repeat(2, auto);
}


/* Smartphones */
@media(max-width: 500px) {
  #navbar {
    flex-direction: column;
    align-items: center;
  }

  #navbar .logo {
    margin-bottom: 0.5rem;
    text-align: center;
  }
  #navbar ul {
    padding: 0.5rem;
  }

  #navbar ul li a{
    padding: 0.2rem;
    margin: 0.2rem;
  }

  #showcase .showcase-content {
    top: 110px;
  }
  
  #project .project-content{
    grid-template-columns: repeat(1, auto);
  }
}

@media(max-height: 568px) {
  #showcase .showcase-content {
    margin-top: -2rem;
    top: 140px;
  }

  .l-heading {
    font-size: 3rem;
  }

  .lead {
    font-size: 1rem;
  }
}