@import url('https://fonts.googleapis.com/css?family=Arimo');

@keyframes LeftToRight {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }
  80% {
    transform: translateX(20px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

:root {
  --primary-color: #0078d4;
  --primary-dark-color: #0067b6;
  --secondary-color: #312e29;
  --light-color: #f4f4f4;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Arimo', sans-serif;
  line-height: 1.4rem;
}

a{
  text-decoration: none;
  color: #fff;
}

p{
  margin: 0.75rem 0;
}

/*Utility classes*/
.container{
  max-width: 1100px;
  margin: auto;
  padding: 2rem 2rem;
  overflow: hidden;
}

.text-center{
  text-align: center;
}

.text-primary{
  color: var(--primary-color);
}
.text-secondary{
  font-weight: bold;
  font-size: 1.2rem;
}
.text-small{
  font-size: 0.8rem;
}

.bg-light{
  background: var(--light-color);
  color: var(--secondary-color);
}

.bg-light-gradient{
  background: linear-gradient(to top, var(--light-color), transparent);
  color: var(--secondary-color);
}

.bg-dark{
  background: var(--secondary-color);
  color: #fff;
}

.bg-primary{
  background: var(--primary-color);
  color: #fff;
}

.bg-primary-gradient{
  background: linear-gradient(to bottom, var(--primary-color), transparent);
  color: #fff;
}
.l-heading{
  font-size: 4rem;
  margin-bottom: 0.75rem;
  line-height: 1.1;
  animation: LeftToRight 1.5s ease-in-out;
}

.m-heading{
  font-size: 2rem;
  margin-bottom: 1rem;
  line-height: 1.1;
}

.lead{
  font-size: 1.3rem;
  margin-bottom: 2rem;
}

.py-0{ padding: 0.75rem 0;}
.py-1{ padding: 1.5rem 0; }
.py-2{ padding: 2rem 0; }
.py-3{ padding: 3rem 0; }

.p-1{ padding: 1.5rem; }
.p-2{ padding: 2rem; }
.p-3{ padding: 4rem; }


/*Navbar*/
#navbar{
  display: flex;
  position: sticky;
  top: 0;
  background: var(--secondary-color);
  color: #fff;
  justify-content: space-between;
  z-index: 1;
  padding: 2rem;
}

#navbar ul{
  display: flex;
  align-items: center;
  list-style: none;
}

#navbar ul li a{
  color: #fff;
  padding: 0.75rem;
  margin: 0 0.25rem;
}

#navbar ul li a:hover{
  background: var(--primary-color);
  border-radius: 5px;
}

/*Showcase*/
#showcase{
  background: #333 url('../img/showcase.jpg') no-repeat center center/cover;
  height: 100vh;
  color: #fff;
}

#showcase .showcase-content{
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: center;
  align-items: left;
  height: 100%;
  padding: 0 2rem;
  /*Overlay*/
  top: 65px;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4); 
  transition: transform 1s ease-in-out;
 }

/*Section: About me*/
#about .items{
  display: flex;
  padding: 1rem;
}
#about .items .item{
  flex: 1;
  text-align: center;
  padding: 1rem;
}
#about .items .item a{
  color: var(--secondary-color);
}

#about .items .item i{
  margin-bottom: 1rem;
}
/*Section: Profi Cloud*/
#cloud .profi-cloud{
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-gap: 1rem;
  color: var(--light-color);
}

#cloud .profi-cloud > div{
  padding: 2rem;
}

#cloud .profi-cloud .item1,
#cloud .profi-cloud .item2{
  grid-column: 1 / span 2;
}
#cloud .profi-cloud .item3{
   background-color: var(--secondary-color); 
}

#cloud .profi-cloud a{
  font-style: italic;
}
#cloud p{
  padding-top: 2rem;
  margin: 0 2rem;
}
#cloud div > p{
  padding-top: 1rem;
}
#cloud .item1 li{ 
  display: inline;
  list-style-position: inside;
  line-height: 1.7rem;
  padding: 0.2rem;
  font-weight: bold;
  font-size: 1.2rem;
  border: var(--primary-color) 1px dotted;
}
#cloud .list li{
  display: block;
  list-style-position: inside;
  line-height: 1.5rem;
  font-size: 1rem;
  border: none;
 }
/*Section: Badges*/
#badges .items{
  display: flex;
}
#badges .items img{
  display: block;
  margin: auto;
  width: 50%;
  padding-top: 2rem;
}

#badges .badges-text a{
  color: var(--primary-color);
  font-style: italic;
}

/*Section: projects*/
#project .project-content{
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-gap: 1rem;
  color: var(--light-color);
  padding-top: 2rem;
}
#project .project-content > div{
  padding: 2rem;
  border: var(--secondary-color) 1px solid;
  border-radius: 3%;
}

#project .project-content .item3{
  grid-column: 1 / span 3;
}
#project .project-content a{
  color: #fff;
  font-style: italic;
}

/*Section: Footer*/
#contact .container{
  padding: 0 2rem;
}
#contact .contact-info{
  display: flex;
  margin: auto;
  max-width: 240px;
  padding: 2rem 0;
}
#contact .contact-info .item{
  flex: 1;
  text-align: center;
 }

