@import url('https://fonts.googleapis.com/css?family=Arimo');

:root {
  --primary-color: #2dabdb;
  --primary-dark-color: #2899c5;
  --secondary-color: #09222b;
  --light-color: #f4f4f4;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Arimo', sans-serif;
  line-height: 1.4rem;
}

a{
  text-decoration: none;
  color: #fff;
}

p{
  margin: 0.75rem 0;
}

/*Utility classes*/
.container{
  max-width: 1100px;
  margin: auto;
  padding: 3rem 2rem;
  overflow: hidden;
}

.text-center{
  text-align: center;
}

.text-primary{
  color: var(--primary-color);
}
.text-small{
  font-size: 0.8rem;
}

.bg-light{
  background: var(light-color);
  color: var(--secondary-color);
}

.bg-dark{
  background: var(--secondary-color);
  color: #fff;
}

.bg-primary{
  background: var(--primary-color);
  color: #fff;
}

.l-heading{
  font-size: 4rem;
  margin-bottom: 0.75rem;
  line-height: 1.1;
}

.m-heading{
  font-size: 2rem;
  margin-bottom: 1rem;
  line-height: 1.1;
}

.lead{
  font-size: 1.3rem;
  margin-bottom: 2rem;
}

.btn{
  display: inline-block;
  color: #fff;
  background: var(--primary-color);
  padding: 0.5rem 2rem;
  border: none;
  border-radius: 5px;
}

.btn-dark{
  background: var(--secondary-color);
  color: #fff;
}

.py-0{ padding: 0.75rem 0;}
.py-1{ padding: 1.5rem 0; }
.py-2{ padding: 2rem 0; }
.py-3{ padding: 3rem 0; }

.p-1{ padding: 1.5rem; }
.p-2{ padding: 2rem; }
.p-3{ padding: 4rem; }


/*Navbar*/
#navbar{
  display: flex;
  position: sticky;
  top: 0;
  background: var(--secondary-color);
  color: #fff;
  justify-content: space-between;
  z-index: 1;
  padding: 1rem;
}

#navbar ul{
  display: flex;
  align-items: center;
  list-style: none;
}

#navbar ul li a{
  color: #fff;
  padding: 0.75rem;
  margin: 0 0.25rem;
}

#navbar ul li a:hover{
  background: var(--primary-color);
  border-radius: 5px;
}

/*Showcase*/
#showcase{
  background: #333 url('../img/showcase.jpg') no-repeat center center/cover;
  height: 100vh;
  color: #fff;
}

#showcase .showcase-content{
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0 2rem;
  /*Overlay*/
  top: 65px;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.2); 
  transition: transform 1s ease-in-out;
}

.btn:hover{
  transform: scale(1.1);
  background: var(--primary-dark-color);
}

.showcase-content h1:hover{
  transform: scale(1.1);
}

/*Section: About me*/
#about .items{
  display: flex;
  padding: 1rem;
}
#about .items .item{
  flex: 1;
  text-align: center;
  padding: 1rem;
}

#about .items .item i{
  background: var(--primary-color);
  padding: 1rem;
  border-radius: 50%;
  margin-bottom: 1rem;
}
/*Section: The Cloud*/
#cloud p{
  padding-top: 1rem;
}

/*Section: Badges*/
#badges .items{
  display: flex;
}
#badges .items img{
  display: block;
  margin: auto;
  width: 50%;
  padding-top: 2rem;
}
/*Section: projects*/
#project{
  background: var(--light-color);
}
#project .project-content{
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-gap: 1rem;
  margin: 1rem;
  color: var(--light-color);
  padding-top: 2rem;
}
#project .project-content .item{
  padding: 5rem;
  border: var(--primary-color) 1px solid;
  background: var(--secondary-color)
}
/*.item:first-child{
  grid-column: 1 / span 2;
  grid-row: 1 / span 2;
}*/

/*Section: Footer*/
#main-footer .container{
  padding: 0 2rem;
}
