@import url('https://fonts.googleapis.com/css?family=Arimo');

:root {
  --primary-color: #0078d4;
  --primary-dark-color: #074892;
  --secondary-color: #4e4e4c;
  --light-color: #f4f4f4;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Arimo', sans-serif;
  line-height: 1.4rem;
}

a{
  text-decoration: none;
  color: #fff;
}

p{
  margin: 0.75rem 0;
}

/*---------------------------Utility classes-------------------------------*/
.container{
  max-width: 1100px;
  margin: auto;
  padding: 2rem 2rem;
  overflow: hidden;
}

.text-center{
  text-align: center;
}

.text-primary{
  color: var(--primary-color);
}
.text-secondary{
  font-weight: bold;
  font-size: 1.2rem;
}
.text-small{
  font-size: 0.8rem;
}

.bg-light{
  background: var(--light-color);
  color: var(--secondary-color);
}

.bg-dark{
  background: var(--secondary-color);
  color: #fff;
}
.bg-dark-gradient{
  background: var(--secondary-color);
  background: linear-gradient(to top, var(--secondary-color), transparent);
  color: #fff;
}

.bg-primary{
  background: var(--primary-color);
  color: #fff;
}

.bg-primary-gradient{
  background: var(--primary-color); 
  background: linear-gradient(to top, var(--primary-color), var(--primary-dark-color));
  color: #fff;
}
.l-heading{
  font-size: 4rem;
  margin-bottom: 0.75rem;
  line-height: 1.1; 
  letter-spacing: .3em;
  text-transform: uppercase;
}

.m-heading{
  font-size: 2rem;
  margin-bottom: 1rem;
  line-height: 1.1;
}

.lead{
  font-size: 1.5rem;
  margin-bottom: 2rem;
  letter-spacing: .2em;
}

.py-0{ padding: 0.75rem 0;}
.py-1{ padding: 1.5rem 0; }
.py-2{ padding: 2rem 0; }
.py-3{ padding: 3rem 0; }
.py-5{ padding: 5rem 0; }

.p-1{ padding: 1.5rem; }
.p-2{ padding: 2rem; }
.p-3{ padding: 4rem; }


/*Navbar*/
#navbar{
  display: flex;
  position: sticky;
  top: 0;
  background: var(--secondary-color);
  color: #fff;
  justify-content: center;
  z-index: 1;
  padding: 2rem;
}

#navbar ul{
  display: flex;  
  list-style: none;
  font-size: 1.5rem;;
  text-transform: uppercase;
}

#navbar ul li a{
  color: #fff;
  padding: 0.75rem;
  margin: 0 0.25rem;
}

#navbar ul li a:hover{ 
  border-radius: 5px;
  color: var(--primary-color);
  border-bottom: 2px solid var(--primary-color);
  transition: .4s ease-in-out;
}

/*------------------------Showcase--------------------------------*/
#showcase{
  background: #333 url('../img/showcase.jpg') no-repeat center center/cover;
  height: 100vh;
  color: #fff;
}

#showcase .showcase-content{
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;  
  height: 100%;
  padding: 0 15vw;
  /*Overlay*/
  top: 65px;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6); 
}

/*------------------------Section: About me------------------------*/
#about .items{
  display: flex;
  padding: 1rem;
}
#about .items .item{
  flex: 1;
  text-align: center;
  padding: 1rem;

}
#about .items .item a{
  color: var(--primary-color);
  font-style: italic;
}

#about .items .item i{
  margin-bottom: 1rem;
  color: var(--primary-dark-color);
}
#about .items .item i:hover{
  color: var(--primary-color);
}

/*----------------------Section: Profi Cloud-----------------------*/
#cloud .profi-cloud{
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-gap: 1rem;
  color: var(--light-color);
}

#cloud .profi-cloud > div{
  padding: 2rem;
}
#cloud .profi-cloud img {
  max-width: 300px;
  height: auto;
  border: 1px solid var(--primary-dark-color);
}

#cloud .profi-cloud .item1,
#cloud .profi-cloud .item2{
  grid-column: 1 / span 2;
}

#cloud .profi-cloud .item3 {
  border: var(--secondary-color) .5px solid;
  border-radius: 1rem;
}
#cloud .item3 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  
}

#cloud .profi-cloud a{
  font-style: italic;
  color: var(--secondary-color);
}
#cloud p{
  padding-top: 2rem;
  margin: 0 2rem;
}
#cloud div > p{
  padding-top: 1rem;
}
#cloud .item1 li{ 
  display: inline-block;
  list-style-position: inside;
  padding: 0.5rem;
  margin: .3rem;
  font-weight: bold;
  font-size: 1.2rem;
  border: 1px dotted;
  border-radius: 1rem;
}

#cloud .item1 li:hover{ 
  background: var(--primary-dark-color);
}

#cloud .list li{
  display: inline-block;
  font-size: 1rem;
  border: none;
 }



/*--------------------------Section: Badges---------------*/
#badges .items{
  display: flex;
}
#badges .items img{
  display: block;
  margin: auto;
  width: 50%;
  padding-top: 2rem;
}

#badges .badges-text a{
  color: var(--primary-color);
  font-style: italic;
}

/*Section: personal projects*/
#project .project-content{
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-gap: 1rem;
  color: var(--light-color);
  padding-top: 2rem;
}
#project .project-content > div{
  padding: 2rem;
  border: var(--secondary-color) 1px solid;
  border-radius: 3%;
}

#project .project-content .item3{
  grid-column: 1 / span 3;
}
#project .project-content a{
  color: #fff;
  font-style: italic;
}

/*------------------------Section: Contact------------------*/

#contact .contact-info{
  display: flex;
  margin: 0 auto;
  max-width: 180px;
  padding: 2.5rem 0;
}
#contact .contact-info .item{
  flex: 1;
 }

 #contact .contact-info i:hover {
   border-radius: 5px;
   background: var(--primary-dark-color);
   transition: .4s ease-in;
 }

 /*-------------------Section: Footer-------------------*/

footer {
  padding: .5rem 0;
  line-height: 1;
  overflow: hidden;
}