@import url("https://fonts.googleapis.com/css?family=Arimo:400,700&display=swap");
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  font-size: 62.5%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #90b4ce;
  max-width: 144rem;
  margin: 0 auto;
}

body {
  font-family: 'Arimo', sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.7;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: #2f2e41;
  -webkit-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
}

li {
  list-style-type: none;
}

img {
  width: 100%;
}

.container {
  max-width: 102.4rem;
  margin: 0 auto;
}

.header {
  background: #2f2e41;
  border-bottom: 3px solid #f25f4c;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 6rem;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
}

.nav__link {
  color: #fffffe;
  padding: 1rem;
  margin: 0 0.7rem;
  border-radius: 5px;
}

@media screen and (min-width: 1024px) {
  .nav__link {
    font-size: 2rem;
  }
}

.nav__link:hover {
  background-color: #f25f4c;
}

.main {
  color: #5f6c7b;
  background-color: #fffffe;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  gap: 4rem;
}

.about__container {
  padding: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

@media screen and (min-width: 1024px) {
  .about__container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
}

.about__ilustration {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

.about__name {
  font-size: 2.8rem;
  color: #2f2e41;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  line-height: 1.2;
}

@media screen and (min-width: 768px) {
  .about__name {
    font-size: 4rem;
  }
}

.about__title {
  font-size: 2rem;
  color: #f25f4c;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  line-height: 1;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  .about__title {
    font-size: 3rem;
  }
}

.about__text-bold {
  font-weight: 700;
}

.badges {
  background-color: #f25f4c;
}

.badges__container {
  padding: 10rem 2rem;
  text-align: center;
}

.badges__title {
  font-size: 1.9rem;
  color: #2f2e41;
  text-transform: uppercase;
}

.badges__text {
  margin: 0 auto;
  padding: 1.5rem 0;
  color: #fffffe;
  max-width: 60rem;
}

@media screen and (min-width: 768px) {
  .badges__text {
    padding: 2rem 0 4rem 0rem;
  }
}

.badges__list {
  padding: 0 3rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: min-max(1fr, 10rem);
      grid-template-columns: min-max(1fr, 10rem);
  gap: 4rem;
}

@media screen and (min-width: 768px) {
  .badges__list {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 1024px) {
  .badges__list {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
}

.badges__list img {
  -webkit-transition: 0.4s ease-in;
  transition: 0.4s ease-in;
  -webkit-box-shadow: 1px 1px 3px;
          box-shadow: 1px 1px 3px;
}

.badges__list img:hover {
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
}

.contact__container {
  padding: 5rem 0;
}

.contact__twitter {
  padding: 5rem 0;
  text-align: center;
}

.contact__contacts {
  margin: 0 auto;
  padding: 3rem 0;
}

.contact__title {
  text-align: center;
}

.contact__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem 1rem;
}

.contact__info-item {
  padding: 0 0.8rem;
}

.contact__link {
  color: #f25f4c;
}

.contact__link:hover {
  color: #2f2e41;
}

.footer {
  max-width: 144rem;
  margin: 0 auto;
  background-color: #2f2e41;
  border-top: 3px solid #f25f4c;
  color: #fffffe;
}

.footer__container {
  text-align: center;
  font-size: 11px;
  padding: 3rem 0;
}

.footer__link {
  color: #fffffe;
}
/*# sourceMappingURL=main.css.map */