// COLORS
$primary-color: #3da9fc;
$primary-dark-color: #90b4ce;
$primary-light-color: #c0dff5;
$secondary-color:#f25f4c;
$secondary-light-color:#ff8676;
$neutral-color: #5f6c7b;
$ligth-color: #fffffe;
$dark-color: #2f2e41;

// WIDTH
$body-width: 144rem;
$container-width: 102.4rem;
