* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Arimo', sans-serif;
  background: $primary-dark-color;
}

h3 {
  font-size: 1.9rem;
  color: $dark-color;
}

a {
  text-decoration: none;
  cursor: pointer;  
  color: $dark-color;  
  transition: all .4s ease-in;
}

li {
  list-style-type: none;
}

img {
  max-width: 310px;

  @include media-md {
    max-width: 400px;
  }

  @include media-lg {
    max-width: 450px;
  }
}