* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Arimo', sans-serif;
}

h1 {
  font-size: 3rem;  
  color: $dark-color;
  text-transform: uppercase;
}

h2 {
  font-size: 2.2rem;
  padding-bottom: 1rem;
  color: $secondary-color;
  font-weight: 700;
}

h3 {
  font-size: 1.9rem;
  color: $dark-color;
}

a {
  text-decoration: none;
  cursor: pointer;  
  color: $dark-color;  
  transition: all .4s ease-in;
}

li {
  list-style-type: none;
}

.container {  
  max-width: 1024px;
  margin: 0 auto;
  color: $neutral-color;
  background-color: $ligth-color;
}

img {
  max-width: 340px;

  @include media-md {
    max-width: 500px;
  }
}