.container {
  max-width: 1024px;
  margin: 0 auto;
}

.header {  
  max-width: 1440px; 
  margin: 0 auto;
  background: $dark-color;
  border-bottom: 3px solid $secondary-color;  
}

.header__container {   
  height: 6rem;
  padding: 2rem 0; 

  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    
    .link {
      color: $ligth-color;
      padding: 1rem;
      margin: 0 .7rem;
      border-radius: 5px;

      @include media-lg {
        font-size: 1.6rem;        
      }

      &:hover {
        background-color: $secondary-color;        
      }
    }
  }  
}

.main {
  max-width: 1440px; 
  margin: 0 auto;
  color: $neutral-color;
  background-color: $ligth-color;
}

.about__container {
  padding: 3rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  .about__ilustration {
    margin: 1.5rem 0; 
    flex: 1;
  }
  .about__text {
    max-width: 550px;     

    .about__text-bold {
      font-weight: 700;
    }

    h1 {
      font-size: 2.6rem;  
      color: $dark-color;
      text-transform: uppercase;
      letter-spacing: .1em;
      padding-top: 2rem;
    }

    h2 {
      font-size: 2rem;  
      color: $secondary-color;
      text-transform: uppercase;
      letter-spacing: .05em;
      padding-top: .2rem;
      text-transform: uppercase; 
    }

    p {
      line-height: 1.6rem;
      padding: 2rem 0;
    }
  }

  @include media-lg {
    flex-direction: row-reverse;
    padding: 6rem;
  }
}

.badges {
  background-color: $secondary-color;
 
  .badges__container {
    padding: 10rem 2rem;
    text-align: center;

    .badges__text {
      margin: 0 auto;
      padding: 2rem 0;
      color: $ligth-color;
      max-width: 600px; 
      
      @include media-md {
        padding: 2rem 0 4rem 0rem;
      }

      p {
        line-height: 1.6rem;
      }
    }

    .badges__items {
      display: grid;
      grid-template-columns: 1fr;
      
      @include media-md {
        grid-template-columns: 1fr 1fr;
        //gap: 2rem;      
      }
        
      @include media-lg {
        grid-template-columns: repeat(4, 1fr);
      } 

      img {      
        max-width: 150px; 
        margin: .5rem;
        transition: .4s ease-in;
        box-shadow: 1px 1px 3px;
        
        &:hover {
          transform: scale(1.01);
        }
      }    
    }
  }
}

.contact__container {
  padding: 10rem 0 3rem 0;

  .contact__container-contacts {
    margin: 0 auto;
  
    h3 {    
      text-align: center;
    }
    .contact__info {    
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 1rem;

      .contact__info-item {
        padding: 0 .8rem;

        a {
          color: $secondary-color;
          
          &:hover {
          color: $dark-color;
          }
        }
      
      }
    }
  } 

  .contact__container-twitter {
    padding: 5rem 0;
    text-align: center;
  }
}

.footer {
  max-width: 1440px; 
  margin: 0 auto;  
  background-color: $dark-color;
  border-top: 3px solid $secondary-color;
  color: $ligth-color;

  .footer__container {
    text-align: center;
    font-size: 11px;
    padding: 3rem 0;
    line-height: 1.4rem; 

    a {
        color: $ligth-color;
    }
  }  
}
    