*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  font-size: 62.5%;
  box-sizing: border-box;
  background: $neutral-color;
  max-width: $body-width;
  margin: 0 auto;
}